body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color:#fff;
}

header {
    background-color: rgba(17,178,22,255);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: contents;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav ul li a:hover {
    text-decoration: underline;
}

.Procesadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
}

.Procesador {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex: 20px;
    box-sizing: border-box;
}

.Procesadores img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: black;
    color: #ddd;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}